@model List<HesabAccount>
@{
    ViewBag.Title = "New Account";
}

<h4 class="display-4" align="center">Sare Hesab Accounts</h4>
<br>
@foreach (var a in Model)
{
    <div class="card card-dark bg-dark" style="width: 100%; color: white;">
        <div class="card-body">
            <h5 class="card-title">@a.Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">Rs @a.Balance</h6>
            <p class="lead">@a.Description</p>
            <a class="btn btn-primary" asp-action="Join" asp-controller="HesabAccount" asp-route-id="@a.ID">Join</a>
            <a class="btn btn-primary" asp-action="Detail" asp-controller="HesabAccount" asp-route-id="@a.ID">View</a>
          
        </div>
    </div>
}
